@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
//! font-family: 'Roboto', sans-serif;

.text-titulos{
    font-family: 'Roboto', sans-serif;
}

.text-aliniacion{
    text-align: center;
}

.text-cards{
    color: grey;
    text-align: center;
}

.text-layout{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.text-card{
    text-align: center;
}

.p-card{
    font-size: 15px;
}